#navBar {
    box-shadow: 0 0 12px -2px skyblue;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #8c92ac ;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

/* Character Page */
.charactersContainer {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    width: 1100px;
    margin: 1em;
}
.character {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    width: 500px;
    margin: 1em;
    align-items: start;
    justify-content: space-between;
    border: solid;
    
}

.character img {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 15px 0;
    z-index: 5;
}

body {
  background: linear-gradient(#6cb4ee, grey);
}
/* Home Page */
.home h1 {
    text-align: center;
    color: black;
    font-size: 100px;
}
.home img {
    image-rendering: optimizeQuality;
    margin: 2em 20em;
    width: 800px;
    height: 450px;
}
.home p {
    font-size: 30px;
    color: aliceblue;
}
#link {
    font-size: xx-large;
    
}

/* Monster page */
.monster {
    display: grid;
    border: solid;
    margin: 1em 0 1em 0;
    background: linear-gradient(#224c98,#B9D9EB );
    color: white;
    border-radius: 30px;
}
.monster img {
    width: 250px;
    height: 250px;
    float: right !important; 
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 0em 45em;
}
.monster p {
    font-size: 30px;
    margin: 1em 1em ;
}
.monster h2 {
    text-align: center;
    font-size: 45px;
}
/* Places page */
.place {
    display: grid;
    border: solid;
    margin: 1em 0 1em 0;
    background: linear-gradient(#224c98,#B9D9EB );
    color: white;
    border-radius: 30px;
    
}
.place h2 {
    text-align: center;
    font-size: 45px;
}
.place h3 {
    text-align: center;
    font-size: 30px;
}
.place img {
    width: 250px;
    height: 250px;
    float: right !important; 
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 0em 45em;
}
.place p {
    font-size: 25px;
    margin: 1em;
}
/* Single Character page */
.singleCharacter {
    display: grid;
    border: solid;
    margin: 1em 0 1em 0;
    background: linear-gradient(#224c98,#B9D9EB );
    color: white;
    border-radius: 30px;
}
.singleCharacter img {
    width: 600px;
    height: 600px;
    margin: 3em 33em;
    border-radius: 15px;
}
.singleCharacter h1 {
    text-align: center;
    font-size: 45px;
}
.singleCharacter h2 {
    text-align: center;
    font-size: 45px;
}
.singleCharacter p {
    font-size: 25px;
    margin: 1em;
}
/* Comment Section */
.commentSection {
    text-align: center;
    font-size: 30px;
}